{% extends "base.html" %}
{% block title %}Make Markov{% endblock %}
{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Make Markov</h1>
        </div>
        {% include "forms/upload.html" %}
        {% block outputs %}
            {% if outputs %}
                <hr>
                <div id="outputs" class="row panel-group">
                    {% for output in outputs %}
                        <div class="panel panel-default">
                            <div class="panel-body">{{ output }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
    <br>
{% endblock %}